<% layout('/layouts/boilerplate') %>
<div class="row mt-3">
    <h2 class="col-6 offset-3 mb-3"><u><b>Login For Wanderlust</b></u></h2>
    <div class="col-6 offset-3">
    <form action="/login" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" id="username" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid username</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control" required>
            <div class="invalid-feedback">Please enter a strong password</div>
        </div>
        <button class="btn btn-dark">Login</button>
    </form>
    <hr>
    <form action="/signup" method="get" class="mt-3">
        <h6 class="mb-3"><u><b>New to Wanderlust !! SignUp Now</b></u></h6>
        <button class="btn btn-sm btn-outline-dark">SignUp</button>
    </form>
</div>
</div>